<mat-card>
  <form (submit)="onAdicionarLivro(livroForm)" #livroForm="ngForm">
    <mat-form-field>
      <input
        type="text"
        required
        matInput
        placeholder="ID"
        name="id"
        ngModel
        #id="ngModel"
      />
      <mat-error *ngIf="id.invalid">Digite o número ID</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        type="text"
        required
        minlength="4"
        matInput
        placeholder="Título"
        name="titulo"
        ngModel
        #titulo="ngModel"
      />
      <mat-error *ngIf="titulo.invalid">Digite um título válido</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        type="text"
        required
        minlength="4"
        matInput
        placeholder="Autor"
        name="autor"
        ngModel
        #autor="ngModel"
      />
      <mat-error *ngIf="autor.invalid">Digite um autor válido</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        type="text"
        required
        matInput
        placeholder="Páginas"
        name="paginas"
        ngModel
        #paginas="ngModel"
      />
      <mat-error *ngIf="paginas.invalid">Digite o número de páginas</mat-error>
    </mat-form-field>
    <br />
    <button color="warn" mat-raised-button>Inserir Livro</button>
  </form>
</mat-card>
